h1 {
    text-align: center;
    font-style: oblique;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.sport {
    border: #dbdbdb 1px solid;
    flex: 1 1 30%;
    margin: 10px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.sport p {
    padding: 8px;
    text-align: center;       /* Centre le texte */
    overflow: hidden;         /* Cache le texte qui dépasse si nécessaire */
    text-overflow: ellipsis;  /* Ajoute des points de suspension si le texte est trop long */
}

.locker-btn2 {
    flex: 1;
    padding: 5px;
    background-color: white;
    border:#009ddc 1px solid;
    color: #009ddc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block; /* Permet d'utiliser margin auto */
    width: 200px;
    margin: 10px auto 0 auto; /* Centre horizontalement */
    text-align: center;
}


